.header {
  background-color: #67c531;
  margin-left: -2%;
}

.mt-1 {
  color: white;
}

.ms-5 {
  margin-left: 0;
}

.logo {
  width: 60px;
  height: 50px;
}

#link {
  color: white;
  font-size: 1.3em;
  padding: 10px;
}

#link:hover {
  text-decoration: underline;
}

.ms-auto {
  color: white;
}


/* HomePage */

.app-title {
  text-align: center;
  margin-top: 10px;
  color: #67c531;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 3.5em;
}

.gif {
  margin-top: 100px;
}

.home-text {
  text-align: center;
  margin-left: 10px;
  color: #67c531;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 1.5em;
}

.bill-container {
  margin-top: 7%;
  background-color: #67c531;
}

.bill-text {
  margin-right: 60px;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 1.1em;
  padding-top: 55px;
}

.gif {
  margin-top: -5%;
}

.link-btns {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn1, .btn2 {
  background-color: #67c531;
  margin-bottom: 8px;
  width: 150px;
  height: 40px;
  border: 2px solid #1a320c;
  border-radius: 5px;
  font-size: 18px;
}

/* Forum Page */
* {
  box-sizing: border-box;
}
.ArticleContainer {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
.ArticleContainer h1 {
  color: #67c531;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 3.5em;
}
.AddArticle {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.AddArticle input, .AddArticle textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 5px;
}
.AddArticle input[type='submit'] {
  padding: 5px;
  background-color: #67c531;
  border: none;
  cursor: pointer;
}
h1 { text-align: center; }
article {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px auto 20px;
  width: 100%;
}
article h2 {
  color: rgb(51, 82, 5);
  font-size: 18px;
  margin: 5px 0;
}
article button {
  width: 50px;
  margin: 0 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
article .delete {color: red; width: 60px}
article .edit {color:green;}
article .cancel {color: orange;}